.anchor
node_modules
.env
.env.*
!.env.example
coverage
coverage.json
target
typechain
typechain-types

# Hardhat files
cache
artifacts


# LayerZero specific files
.layerzero

# foundry test compilation files
out

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea
*-keypair.json
